In [1]:
41+7

48

In [2]:
45-54

-9

In [3]:
2//4

0

In [4]:
34/6

5.666666666666667

In [5]:
34%4

2

In [6]:
4**5

1024

In [7]:
5**0.5

2.23606797749979

In [8]:
6+9-98

-83

In [9]:
a=98

In [10]:
a

98

In [11]:
a=67

In [12]:
a+A

NameError: name 'A' is not defined

In [13]:
a

67

In [14]:
a+a

134

In [15]:
my_tax=10000
tax_rate=0.1
my_taxes=my_tax*tax_rate

In [16]:
my_taxes

1000.0

In [17]:
i=2

In [18]:
i

2

In [19]:
i+i

4

In [20]:
i=i+10
i

12

In [21]:
i+=10
i

22

In [22]:
a="five"
type(a)

str

In [62]:
a=int(a)
a

TypeError: int() argument must be a string, a bytes-like object or a number, not 'type'

In [24]:
a=87.9

In [25]:
a=int(a)

In [26]:
a

87

In [27]:
a=int(input())
a

65

65

In [28]:
import math
x=math.floor(67.8)

In [29]:
x

67

In [30]:
a="neha"
a

'neha'

In [31]:
a='neha'
a

'neha'

In [32]:
a='i'mneha
a

SyntaxError: invalid syntax (<ipython-input-32-61ff6ffe8300>, line 1)

In [33]:
a="i'm neha"
a

"i'm neha"

In [34]:
print(a)

i'm neha

In [35]:
x="Location of file c:\\geology\\geo"
print(x)

Location of file c:\geology\geo

In [36]:
print("\tabc")

	abc

In [37]:
x="\thello world"
print(x)

	hello world

In [39]:
t=("X\tO\tX\nX\tX\tX\nO\tO\tO")
print(t)

X	O	X
X	X	X
O	O	O

In [40]:
s="hey there how are you"

In [41]:
print(s)

hey there how are you

In [42]:
len(s)

21

In [44]:
print(s[9])

In [45]:
print(s[-4])

In [46]:
print(s[-7])

a

In [47]:
print(s[8:])

e how are you

In [48]:
print(s[:])

hey there how are you

In [49]:
print(s[2:])

y there how are you

In [50]:
s.upper()

'HEY THERE HOW ARE YOU'

In [51]:
s.lower()

'hey there how are you'

In [52]:
s.split()

['hey', 'there', 'how', 'are', 'you']

In [53]:
s.split('o')

['hey there h', 'w are y', 'u']

In [3]:
print("i am neha %s hello"%"and")

i am neha and hello

In [5]:
print("i am neha %s hello  i want to become %s"%("hi","hi"))

i am neha hi hello  i want to become hi

In [3]:
print("hey how are %s"%"you \toay")
print("hey how are %r"%"you \toay")

hey how are you 	oay
hey how are 'you \toay'

In [4]:
print(" i wrote %s"%3.75)
print(" i wrote %d"%3.75)
print(" i wrote %f"%3.75)
print(" i wrote %5.2f"%(3.75))

 i wrote 3.75
 i wrote 3
 i wrote 3.750000
 i wrote  3.75

In [9]:
print("the {1} {2} {0}".format('fox','0brown','quick'))

the 0brown quick fox

In [10]:
print ("hey:{a},second:{b},3:{c}".format(a=1,b=2,c=3))

hey:1,second:2,3:3

In [11]:
print('{0:8} | {1:9}'.format('Fruit','quantity'))
print('{0:8} | {1:9}'.format('Apple',1))
print('{0:8} | {1:9}'.format('Fruit',2))

Fruit    | quantity
Apple    |         1
Fruit    |         2

In [12]:
print('{0:<8} | {1:^9} |{2:>8}'.format('left','center','right'))

left     |  center   |   right

In [13]:
print('{0:=<8} | {1:-^9} |{2:.>8}'.format('left','center','right'))

left==== | -center-- |...right

In [15]:
name='fr\ned'
print(f"he is her {name}")

he is her fr
ed

In [16]:
print(f"he is her {name!r}")

he is her 'fr\ned'

In [6]:
num=23.567
print(f"my 10 char,four dec is:{num:{10}.{6}}")

my 10 char,four dec is:    23.567

In [1]:
mydict={"key":"value1","kaye2":"value2"}

In [2]:
mydict["key"]

'value1'

In [4]:
my={"key":123,"kay2":[1,2,3],"key3":["keu","vlue"]}
my["key3"]

['keu', 'vlue']

In [5]:
my["key3"][1].upper()

'VLUE'

In [6]:
d={}

In [7]:
d["hello"]="hi"

In [8]:
d["hi"]="2345"

In [9]:
d

{'hello': 'hi', 'hi': '2345'}

In [10]:
d["key1"]=987

In [11]:
d["key1"]-=123

In [12]:
d

{'hello': 'hi', 'hi': '2345', 'key1': 864}

In [13]:
t=(1,23,45,5)

In [14]:
def fun(*args):
    return sum(args)*2
fun(12,35,56,7,8,9)

254

In [18]:
def fun(**kwarg):
    print(f "my favaroit fruit is {kwarg['12']}")
fun("12":"mango")

SyntaxError: invalid syntax (<ipython-input-18-dc7c437b60ce>, line 2)

In [21]:
class dog:
    specie="mam"
    def __init__(self,breed):
        self.breed=breed
sam=dog(breed="lab")

In [22]:
sam.breed

'lab'

In [23]:
sam.specie

'mam'

In [44]:
class circle:
    pi=3.14
    def __init__(self,radius=1):
        self.radius=radius
        self.area=radius*radius*circle.pi
    def setrad(self,new_rad):
        self.radius=new_rad
        self.area=new_rad*nea_rad*self.pi
    def get(self):
        return self.radius*self.pi*2
    
c=circle()
print(c.radius)
print(c.area)
print(c.get())

1
3.14
6.28

In [25]:
class animal:
    def __init__(self):
        print("animal")
    def whoami(self):
        print("lab")
    def eat(self):
        print("eat")
class dog(animal):
    def __init__(self):
        animal.__init__(self)
        print("dog")
    def whoami(Self):
        print("hi")
        
d=dog()

animal
dog

In [49]:
class a:
    def __init__(self):
        print("animal")
    def whoami(self):
        print("lab")
   
class d:
    def __init__(self):
        print("dog")
    def whoami(Self):
        print("hi")
n=d()
n.whoami()

dog
hi

In [50]:
import sqlite3

In [51]:
conn=sqlite3.connect("txt.db")

In [52]:
conn.execute('''CREATE TABLE emp
             (ID INT PRIMARY Key NOT NULL,
             NAME TEXT NOT NULL,
             ADDREESS CHAR(50),
             SALARY REAL);''')
print("table is created")

OperationalError: table emp already exists

conn.execute(""INSERT INTO emp(ID,NAME,ADDREESS,SALARY") \VALUES (1,'rohit','jaipur',123.443)"")

In [53]:
conn.commit()
print("created")

created

In [59]:
cur=conn.execute("SELECT id ,name,addreess ,salary from emp ")
for row in cur:
    print("id=",row[0])

In [60]:
conn.execute("UPDATE COMPANY set SALARY =2447.7 where ID=1")
conn.commit()

In [61]:
conn.execute("DELETE from emp where ID=2;")
conn.commit()

In [1]:
fb=open('io.txt','x')
print(fb)

<_io.TextIOWrapper name='io.txt' mode='x' encoding='cp1252'>

In [3]:
con=fb.write("neha helloe how are you")

In [4]:
print(con)

23

In [5]:
fb=open("file1.txt",'x')

In [6]:
fb=open("file.txt",'w')
con=fb.write("hey how are you")
print(con)

15

In [7]:
fb=open("file1.txt",'r')

In [10]:
print(fb)
fb.close()

<_io.TextIOWrapper name='file1.txt' mode='r' encoding='cp1252'>

In [11]:
import os
os.rename('file1.txt','file2.txt')

In [12]:
os. remove("file2.txt")

In [13]:
os.mkdir("new")

In [14]:
os.chdir("new")

In [15]:
print(os.getcwd())

C:\Users\Neha Dubey\jupyter code\new

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'new'

In [1]:
a=5
x=1
while a>=1:
    print(x-a)
    x=a
    a=a-1

-4
1
1
1
1

In [6]:
a = int(input("enter number"))
while a>0:
    b=1
    while b <= 10:
        print(a,"*",b,"=",a*b)

        b = b + 1
    a=a-1

enter number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [4]:
a=int(input())
b=int(input())
c=int(input())
if a>b or a>c:
    if(b>c):
        print(b)
    else:
        print(c)
    
elif b>a or b>c:
    if(a>c):
        print(a)
    else:
        print(c)
    
else:
    if (b>a):
        print(b)
    else:
        print(a)

43
23
1
23

In [11]:
a=int(input())
b=int(input())
c=int(input())
if a>b and a>c:
    if (b>c ):
        print(b)
    else:
        print(c)

else:
    print("nothing")

43
4
14
14

In [3]:
a=0
while a<10:
    if(a==3):
        print(a)
    a=a+1

3

In [2]:
a=1.5
while a<10:
    if(a):
        print(a)
    a=a+1

1.5
2.5
3.5
4.5
5.5
6.5
7.5
8.5
9.5

In [2]:
a=0
while a<10:
    if(a):
        print(a)
    a=a+1

1
2
3
4
5
6
7
8
9

In [5]:
a=0
while a<10:
    if(a=3):#error not allowed
        print(a)
    a=a+1

SyntaxError: invalid syntax (<ipython-input-5-fbac77187bf9>, line 3)

In [6]:
for i in range(1,10,0.5):#erorr float value not allowed
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [1]:
for i in range(1.2,10.1):#erorr float value not allowed
    print(i)

TypeError: 'float' object cannot be interpreted as an integer