In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [18]:
df=pd.read_csv("Salary_Data.csv")

In [19]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [20]:
y=df.iloc[:,-1]
x=df.iloc[:,:-1]

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=5)
#print(x_test)
#print(x_train)
#print(y_test)
#print(y_train)